# Important Requirements here.

https://github.com/New-dev0/Telethon/archive/Carbon.zip
apscheduler
aiohttp
aiofiles
bs4
cairosvg
cfscrape
python-decouple
python-dotenv
enhancer>=0.3.4
fonttools
gingerit
git+https://github.com/1danish-00/google_trans_new.git
git+https://github.com/buddhhu/img2html.git
git+https://github.com/programmingerror/heroku3.py.git
gitpython
google-api-python-client
html-telegraph-poster
htmlwebshot
lottie
multiprocess
numpy>=1.21.2
oauth2client
opencv-python-headless
pillow>=7.0.0
psutil
psycopg2-binary
pygments
pytz
pyyaml>=5.4.1
requests
redis
hiredis
scikit-image
tabulate
telegraph
tgcrypto
pygments
python-Levenshtein
fuzzywuzzy
emoji
pyfiglet
